deb http://de.archive.ubuntu.com/ubuntu/ {{ release }} main universe multiverse restricted
deb-src http://de.archive.ubuntu.com/ubuntu/ {{ release }} main universe multiverse restricted

deb http://de.archive.ubuntu.com/ubuntu/ {{ release }}-updates main universe multiverse restricted
deb-src http://de.archive.ubuntu.com/ubuntu/ {{ release }}-updates main universe multiverse restricted

deb http://de.archive.ubuntu.com/ubuntu/ {{ release }}-backports main universe multiverse restricted
deb-src http://de.archive.ubuntu.com/ubuntu/ {{ release }}-backports main universe multiverse restricted

deb http://security.ubuntu.com/ubuntu {{ release }}-security main universe multiverse restricted
deb-src http://security.ubuntu.com/ubuntu {{ release }}-security main universe multiverse restricted
